<nav>
    <a href="https://webpages.charlotte.edu/speri8/">Charlotte.edu</a> ~
    <a href="https://github.com/shuanakperi/shaunakperi.github.io">Github</a> ~
    <a href="https://shuanakperi.github.io/shaunakperi.github.io/">Github.io</a> ~
    <a href="https://www.freecodecamp.org/speri8">freeCodeCamp</a> ~
    <a href="https://www.codecademy.com/profiles/speri8">Codecademy</a> ~
    <a href="https://www.linkedin.com/in/shaunak-peri-315744245/">LinkedIn</a>
</nav>
<p>Page Built by <a href="shaunakdesigns.com/">Shaunak Peri Designs</a>&copy; 2025
    <em><a href="https://www.freecodecamp.org/certification/speri8/responsive-web-design">Certified in Responsive Web Design</a></em>
    <em><a href="https://www.freecodecamp.org/certification/speri8/javascript-algorithms-and-data-structures-v8">Certified in JS</a></em>.
</p>